<div class="book-list">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Author</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books">
                    <td>{{ book.id }}</td>
                    <td>{{ book.name }}</td>
                    <td>{{ book.description }}</td>
                    <td><a [routerLink]="['/author',book.author.id]">{{ book.author.name }}</a></td>
                    <td><a [routerLink]="['/category',book.category.id]">{{ book.category.name }}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>