input{
    font-size: 26px;
    display: inline-block;
    width: 400px;
    max-width: calc(100% - 47px);
    padding: 20px;
    margin-right: 5px;
}

.btn-save{
    height: 40px;
    margin-bottom: 8px;
}